@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}


.mySwiper {
    .swiper-button-prev,
    .swiper-button-next {
        background-color: #ffd643; /* Màu nền */
        color: #333; /* Màu biểu tượng */
        border-radius: 50%; /* Tạo hình tròn */
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #333; /* Màu nền khi hover */
            color: #fff; /* Màu biểu tượng khi hover */
            transform: scale(1.1); /* Phóng to nhẹ khi hover */
        }

        &::after {
            font-size: 14px; /* Kích thước biểu tượng mũi tên */
        }
    }

    .swiper-button-prev {
        left: 10px; /* Định vị nút prev */
    }

    .swiper-button-next {
        right: 10px; /* Định vị nút next */
    }
}
